$font-size-title: 42px;
$font-size-subtitle: 20px;
$font-size-content: 16px;

$font-size-title-lg: 38px;
$font-size-subtitle-lg: 18px;
$font-size-content-lg: 15px;

$font-size-title-md: 30px;
$font-size-subtitle-md: 16px;
$font-size-content-md: 14px;

$font-size-title-sm: 26px;
$font-size-subtitle-sm: 16px;
$font-size-content-sm: 14px;


$color-primary: #388697;
$color-secondary: #A0F6FF;
$base-color-white: #ffffff;
$base-color-black: #000000;